bosdyn-api==3.0.2
bosdyn-choreography-client==3.0.2
bosdyn-choreography-protos==3.0.2
bosdyn-client==3.0.2
bosdyn-core==3.0.2
bosdyn-mission==3.0.2
charset-normalizer==2.0.7; python_version >= '3'
deprecated==1.2.13
grpcio==1.42.0
idna==3.3; python_version >= '3'
iperf3==0.1.11
pillow==9.0.1
numpy==1.22.0
protobuf==3.19.1
pyjwt==2.4.0
pyqt5-qt5==5.15.2
pyqt5-sip==12.9.0
pyqt5==5.15.6
requests==2.26.0
six==1.16.0
wrapt==1.13.3
